<div class="progress-bar-wrapper">
  <div class="progress-line progress-line-active"></div>

  <div class="progress-line"
    [ngClass]="{ 'progress-line-inactive': currentStep === 1, 'progress-line-active': currentStep === 2 }"></div>
</div>

<form class="form-wrapper" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="form-title-wrapper">
    <span class="step-count">Step {{ currentStep }} of 2</span>

    <div class="form-link-wrapper">
      <span class="title">Sign up</span>

      <div class="link-wrapper">
        <span class="subtitle">Already have an account?</span>

        <a class="link" routerLink="/auth/sign-in">Log in</a>
      </div>
    </div>
  </div>

  @if(currentStep === 1) {
  <div class="fields-wrapper" formGroupName="userDetails">
    <label class="field-wrapper">
      <span class="label" [ngClass]="{ 'label-error': !!emailError }">
        Email
      </span>

      <input class="input" [ngClass]="{ 'input-error': !!emailError }" type="text" formControlName="email"
        placeholder="example@domain.com">

      @if(!!emailError) {
      <span class="error-message">{{ emailError }}</span>
      }
    </label>

    <div class="fields-name-wrapper">
      <label class="field-wrapper">
        <span class="label" [ngClass]="{ 'label-error': !!firstNameError }">First name</span>

        <input class="input" [ngClass]="{ 'input-error': !!firstNameError }" type="text" placeholder="First name"
          formControlName="firstName">

        @if(!!firstNameError) {
        <span class="error-message">{{ firstNameError }}</span>
        }
      </label>

      <label class="field-wrapper">
        <span class="label" [ngClass]="{ 'label-error': !!lastNameError }">Last name</span>

        <input class="input" [ngClass]="{ 'input-error': !!lastNameError }" type="text" placeholder="Last name"
          formControlName="lastName">

        @if(!!lastNameError) {
        <span class="error-message">{{ lastNameError }}</span>
        }
      </label>
    </div>

    <label class="field-wrapper">
      <span class="label" [ngClass]="{ 'label-error': !!passwordError }">Password</span>

      <input class="input" [ngClass]="{ 'input-error': !!passwordError }" type="password" placeholder="Password"
        formControlName="password">

      @if(!!passwordError) {
      <div class="password-requirements-wrapper">
        <app-password-requirements
          [errors]="signUpForm.controls.userDetails.controls.password.errors"></app-password-requirements>
      </div>
      }
    </label>

    @if(repeatPasswordFieldVisible){
    <label class="field-wrapper">
      <span class="label" [ngClass]="{ 'label-error': !!repeatPasswordError }">Repeat password</span>

      <input class="input" [ngClass]="{ 'input-error': !!repeatPasswordError }" type="password" placeholder="Password"
        formControlName="repeatPassword">

      @if(!!repeatPasswordError) {
      <span class="error-message">{{ repeatPasswordError }}</span>
      }
    </label>
    }
  </div>

  <button class="button button-color" type="button" (click)="setNextStep()">Next</button>
  } @else {
  <div class="fields-wrapper" formGroupName="organizationDetails">
    <label class="field-wrapper">
      <span class="label" [ngClass]="{ 'label-error': !!accountTypeError }">Account type</span>

      <select class="input" [ngClass]="{ 'input-error': !!accountTypeError }" formControlName="accountType">
        <option value="" disabled selected>Account type</option>
        <option value="organization">Organization</option>
        <option value="user">User</option>
      </select>


      @if(!!accountTypeError) {
      <span class="error-message">{{ accountTypeError }}</span>
      }
    </label>

    <label class="field-wrapper">
      <span class="label" [ngClass]="{ 'label-error': !!organizationNameError }">Organization name</span>

      <input class="input" [ngClass]="{ 'input-error': !!organizationNameError }" type="text"
        placeholder="Organization name" formControlName="organizationName">


      @if(!!organizationNameError) {
      <span class="error-message">{{ organizationNameError }}</span>
      }
    </label>

    <label class="field-wrapper">
      <span class="label" [ngClass]="{ 'label-error': !!iotProviderError }">IoT provider</span>

      <select class="input" [ngClass]="{ 'input-error': !!iotProviderError }" formControlName="iotProvider">
        <option value="" disabled selected>IoT provider</option>
        <option value="azure">AZURE</option>
        <option value="sap">SAP</option>
        <option value="aws">AWS</option>
      </select>

      @if(!!iotProviderError) {
      <span class="error-message">{{ iotProviderError }}</span>
      }
    </label>
  </div>

  @if(errorMessage) {
  <span class="error-message">{{ errorMessage }}</span>
  }

  <div class="buttons-wrapper">
    <button class="button button-back-color" type="button" (click)="setPrevStep()" [disabled]="isLoading">
      Back
    </button>

    <button class="button button-color" type="submit" [disabled]="isLoading">
      Sign up
    </button>
  </div>
  }
</form>